
// Body
$body-bg: #ffffff;

// Typography
$font-family-Rubik: "Rubik", sans-serif;
$font-family-Raleway: "Raleway", sans-serif;
$font-size-base: 16;
$line-height-base: 1.6;


$h1: 3.052em;
$subH1: 2.241em;
$h2: 1.953em;
$subH2: 1.563em;
$h3: 1.25em;
$text: 1em;
$subText: 0.8em;
$subsubText: 0.64em;
$subsubsubText:0.512em;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$lightGreen: #38EF7D;
$darkGreen: #11998E;
$lightGrey: #E8E8E8;
$grey: #CCCCCC;
$darkGrey: #A4A4A4;
$white: #FFFFFF;
$black: #4A4A4A;

// Measures
$headerHeight: 80px;
$asideNavMarginTop: calc(#{$headerHeight} + #{$text});

$asideNavWidth: 280px;
$mainMarginLeft: $asideNavWidth;
