
// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik');

// Reset
@import 'resetMeyer';

// Variables
@import 'variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

// Design
@import 'header';
@import 'footer';
@import 'login';
@import 'form';
@import 'asideNav';
@import 'list';
@import 'add';
@import 'search';

html, body, #app{
  height: 100%;
}
.heading1,
.heading2,
.heading3,
.heading4{
  margin-bottom: 1em;
  font-weight: 800;
}
main{
  margin-left: $asideNavWidth;
  padding: 2em;
  position: relative;
  background-attachment: fixed;
  //padding-top: $headerHeight;
  &:before{
    content: '';
    //position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $asideNavWidth;
    background: $darkGreen;
    z-index: -1;
    position: fixed;
  }
}
.hidden {
//  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.notEmpty{
  display: none;
}
.content{
  .heading2{
    color: $white;
  }
}
//.superGlobal{
//  padding-top: $headerHeight;
//  &__filter {
//    display: none;
//    position: fixed;
//    width: 100%;
//    height: 100%;
//    z-index: 1;
//    top: 0;
//    left: 0;
//    opacity: 0.8;
//    background-color: $black;
//  }
//  &__filter.is-active{
//    display: block;
//  }
//}
.contentView{
  padding: 1em;
  position: relative;
  h2{
  }
  .display-card{
    position: absolute;
    top: 1em;
    right: 1em;
    &__button{
      min-width: 100px;
      border: transparent;
      color: $white;
      padding: 10px 20px;
      display: inline-block;

      border-radius: 5px;
      background: #11998e; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #11998e 0%, #38ef7d 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #11998e 0%,#38ef7d 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #11998e 0%,#38ef7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11998e', endColorstr='#38ef7d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
  .contentSearchForm{

  }
}
.loginErrors{
  color: $red;
  display: block;
  text-align: center;
  font-size: $subText;
  margin-bottom: 1em;
}