.form {
  display: flex;
  flex-wrap: wrap;
  .labelInput {
    width: 100%;
    position: relative;
    &__label {
      font-weight: 600;
      position: absolute;
      top: -0.8em;
      left: 10px;
      background-color: $white;
      padding: 0px 10px;
      &--checkbox{
        font-weight: 600;
      }
    }
    &__input {
      max-width: 460px;
      height: 40px;
      text-indent: 10px;
      margin-bottom: 2em;
      width: 100%;
      border: double 1px transparent;
      border-radius: 10px;
      background-image: linear-gradient(white, white), radial-gradient(circle at top left, #11998e 0%, #38ef7d 100%);
      background-origin: border-box;
      background-clip: content-box, border-box;
      &:focus{
        background-image: linear-gradient(white, white), radial-gradient(circle at top left, #CCCCCC 0%, #AAAAAA 100%);
      }
      &--icon {
        background: transparent;
        border: 0px;
        position: absolute;
        right: 6px;
        top: 6px;
      }
    }
    &__button {
      font-weight: 600;
      position: relative;
      z-index: 1;
      min-width: 200px;
      margin: 1em auto;
      border: transparent;
      color: $white;
      padding: 10px 20px;
      display: block;
      border-radius: 10px;
      background: #11998e; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #11998e 0%, #38ef7d 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #11998e 0%, #38ef7d 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11998e', endColorstr='#38ef7d', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        background: #38ef7d; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #38ef7d 0%, #11998e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #38ef7d 0%, #11998e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #38ef7d 0%, #11998e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38ef7d', endColorstr='#11998e', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        z-index: -1;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
      }
      &:hover::before,
      &:focus::before{
        opacity: 1;
      }
    }
    &__link {
      font-weight: 600;
      //display: inherit;
      display: inline;
      text-align: right;
      color: $black;
      transition: all 0.2s ease-in-out;
      position: absolute;
      right: 0;
      &:focus,
      &:hover{
        text-decoration: none;
        color: $darkGreen;
      }
    }
  }
  .rememberMe input,
  .rememberMe label{
    cursor: pointer;
  }
  .rememberMe,
  .passwordLost{
    width: 50%;
  }
}