.contentList {
  position: relative;
  padding-top: 2em;
  .display-card{
    padding-bottom: 3em;
    &__button{
      font-weight: 600;
      position: relative;
      z-index: 1;
      min-width: 200px;
      margin: 0 auto;
      border: transparent;
      color: $white;
      padding: 10px 20px;
      //display: block;
      border-radius: 10px;
      background: #11998e; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #11998e 0%, #38ef7d 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #11998e 0%, #38ef7d 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11998e', endColorstr='#38ef7d', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        background: #38ef7d; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #38ef7d 0%, #11998e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #38ef7d 0%, #11998e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #38ef7d 0%, #11998e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38ef7d', endColorstr='#11998e', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        z-index: -1;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
      }
      &:hover::before,
      &:focus::before{
        opacity: 1;
      }
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    &__link {
      color: inherit;
      &:hover {
        text-decoration: none;
        color: inherit;
        li {
          border: 2px solid $grey;
          background-color: $grey;
        }
      }
    }

    &__el {
      position: relative;
      border: 2px solid $white;
      background-color: $white;
      border-radius: 10px;
      padding: 1em;
      display: flex;
      width: calc(50% - 1.25%);
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      transition: all 0.5s ease-in-out;
      margin-bottom: 2.5%;
      margin-right: 2.5%;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &--infos {
        margin-bottom: 0;
        color: $darkGrey;
      }
      &--name {
        font-weight: 600;
        font-size: $h3;
        color: inherit;
        margin-bottom: 1em;
      }
      &--academicYear {
        font-size: $subText;
      }
      &--session {
        font-size: $subText;
      }
      &--date {
        font-size: $subText;
      }
      &--dateIcon {
        margin-left: 0.2em;
        fill: $darkGrey;
        width: 20px;
        height: 20px;
        display: inline-block;
      }
      &--status {
        font-size: $subText;
      }
      &--pic {
        width: 50px;
        padding: 5px;
        border-radius: 50%;
        border: 2px solid $darkGreen;
        margin-right: 1em;
      }
      &--description {
        width: 100%;
        p {
        }
      ;
      }
      &--email {
        font-size: $subText;
      }
      &--agency {
        font-size: $subText;
      }
      &--more{
        z-index: 2;
        text-align: center;
        line-height: calc(40px + 0.5em);
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
        width: 40px;
        height: 40px;
        transition: all 0.5s ease-in-out;
        &:hover,
        &:focus{
          color: $black;
        }
      }
      .button-option{
        border-radius: 5px;
        position: absolute;
        transition: all 2s ease-in-out;
        background: #ffffff;
        -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
        top: 3em;
        right: 1.3em;
        height: 80px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &--modify {
          cursor: pointer;
          position: absolute;
          top: 10px;
          left: 50%;
          transform: translateX(-50%);
          fill: $blue;
          div {
            width: 20px;
            height: 20px;
          }
        }
        &--delete {
          cursor: pointer;
          position: absolute;
          bottom: 12px;
          left: 50%;
          transform: translateX(-50%);
          fill: $red;
          div {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  .listFutur {
    //margin-bottom: 1em;
    //padding-bottom: 1em;
    //border-bottom: 0.1px solid $darkGrey ;
  }
}